<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='studentportal.css') }}">
</head>
<body>
    <div class="full">
        <div class="center">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/kabarak_university.png') }}" alt="My Image" />
        </div>
        <hr style="margin-top: 25px; margin-bottom: 25px; margin-left: 45px; margin-right: 45px;">
        <div class="content">
            <label class="boom">Reg. Number</label>
            <input type="text">
            <label class="boom">Password</label>
            <input type="text">
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Remember me</label>
            </div>
         <button class="btn">Log in</button>
        <p>Forgot your password?</p>
            </div>
        </div>
    </div>
    <div class="end">
        <p>2024&copy;Designed by Alex Mbogo</p>
    </div>
</body>
</html>